		* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;

				font-family: "Roboto", "sans-serif", "Arial";
			}

			html,
			body {
				height: 100%;

				background-color: #ff0000;
			}

			#main {
				width: calc(100% - 200px);
				height: inherit;

				min-width: 480px;
				max-width: 1400px;

				margin: 0 auto;
				display: block;

				text-align: center;
				color: white;
			}

			#main #title {
				padding: 10px;
			}

			#main #canvas {
				border: 2px solid white;
			}